<div class="container mt-5">
  <div class="card">
    <div class="d-flex justify-content-between p-3">
      <div class="image">
        <img width="100%" height="20px" src="/assets/icones/logo.png" alt="" />
      </div>
      <div class="quizz-header">
        <h4>Utilisateur : {{ pseudo }}</h4>
      </div>
    </div>
    <div class="d-flex justify-content-around py-3">
      <div class="score">
        <h5>{{ points }} Points</h5>
      </div>

      <div class="level">
        <span style="font-style: italic">
        Niveau :  {{level}}</span
        >
      </div>

      <div class="question-remain">
        <span style="font-style: italic">
          Question {{ currentIndex + 1 }} / {{questionList.length}}</span
        >
      </div>

      <div class="timer">
        <h5 style="color: red">{{ timeLeft }} sec</h5>
      </div>
    </div>
   
    <div class="question">
      <div class="card">
        <h3 style="margin: 5%; text-align: center">
          {{ questionList[currentIndex]?.question }}
        </h3>
      </div>
    </div>
    <div class="options" style="height: 20%">
      <ol class="d-flex" style="flex-wrap: wrap; justify-content: center">
        <li *ngFor="let option of questionList[currentIndex]?.options"  (click) ="reponse(option)">
          <div class="card">{{ option.reponse }}</div>
        </li>
      </ol>
    </div>
    <div class="d-flex" style="justify-content: end; margin: 3%">
      <button (click)="skipQuestion()" class="btn btn-primary">
        <h4>Skip</h4>
      </button>
    </div>
  </div>
</div>
